<nav class="navbar navbar-expand-lg" style="background-color: #00408a; color: #fff;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: #00ff22;">HiHi Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color: #fff;"></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="color: #fff;">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: #fff;">Sản phẩm</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: #fff;">Giỏ hàng</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #fff;">
            Tài khoản
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Đăng nhập</a></li>
            <li><a class="dropdown-item" href="#">Đăng ký</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Quên mật khẩu</a></li>
          </ul>
        </li>
      </ul>
      
      <form class="d-flex" role="search" (submit)="onSearch()">
        <input class="form-control me-2" name="tkhd" [(ngModel)]="searchTerm">
        <button class="btn btn-outline-success" type="submit" style="background-color: #28a745; color: #fff;">Search</button>
      </form>
      
    </div>
  </div>
</nav>
