<div class="container">
  <h4 class="bg-warning p-2 text-center">DANH SÁCH TASK</h4>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <input class="form-control" name="tk" [(ngModel)]="searchTerm" placeholder="Tìm kiếm task..." (keyup)="filteredTask()">
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-4" *ngFor="let task of listTask">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ task.tenTask }}</h5>
          <p class="card-text">{{ task.moTa }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <strong>Priority:</strong>
            <span [ngClass]="{'text-danger': task.priority === 1, 'text-warning': task.priority === 2, 'text-success': task.priority === 3}">
              {{ task.priority === 1 ? 'Cao' : (task.priority === 2 ? 'Trung bình' : 'Thấp') }}
            </span>
          </li>
          <li class="list-group-item">
            <strong>Status:</strong>
            <span [ngClass]="{'text-secondary': task.status === 0, 'text-primary': task.status === 1, 'text-success': task.status === 2}">
              {{ task.status === 0 ? 'Chưa thực hiện' : (task.status === 1 ? 'Đang thực hiện' : 'Đã hoàn thành') }}
            </span>
          </li>
        </ul>
        <div class="card-body">
          <p class="card-text">
            Nhân viên {{ task.nhanvienID }}<br />
            Dự án: {{ task.duAnID }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
