<div class="sidebar">
  <ul>
    <li><a href="#">Trang chủ</a></li>
    <li><a href="#">Giới thiệu</a></li>
    <li><a routerLink="projects" href="#">Dự án</a></li>
    <li><a routerLink="staffs" href="#">Nhân viên</a></li>
    <li><a href="#">Task</a></li>
  </ul>
  <div class="user-info">
    <p>Xin chào: Nguyễn Ngọc Hải</p>
    <p>Bạn là: Quản lý</p>
    <button class="btn btn-danger logout-button">Đăng xuất</button>
  </div>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
