<div>
  <h2 class="mb-3">Quản lý Dự án</h2>
  <div class="mb-4">
    <button class="btn btn-success custom-btn" (click)="addProject()">Thêm Dự án</button>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Tên Dự án</th>
          <th>Ngày Bắt đầu</th>
          <th>Ngân sách (VNĐ)</th>
          <th>Hành động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projectList">
          <td>{{ project.id }}</td>
          <td>{{ project.projectName }}</td>
          <td>{{ project.startDate | date : 'dd/MM/yyyy' }}</td>
          <td>{{ project.budget | currency : 'VND' : true }}</td>
          <td>
            <button class="btn btn-primary btn-sm" (click)="editProject(project.id)">Sửa</button>
            <span class="mx-2"></span>
            <button class="btn btn-danger btn-sm" (click)="deleteProject(project.id)">Xóa</button>
            <span class="mx-2"></span>
            <button class="btn btn-secondary btn-sm" (click)="viewProjectDetails(project.id)">Chi tiết</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
