<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-9 mt-5">
      <div class="card" *ngIf="!isUserLoggedIn()">
        <div class="card-body text-center">
          <h2 class="display-5">Quản lý dự án <strong>Thầy Rồng</strong></h2>
          <p class="lead">Xin vui lòng đăng nhập hoặc đăng ký để tiếp tục.</p>
          <div class="d-grid gap-2 d-md-flex justify-content-center">
            <button class="btn btn-primary btn-lg m-2" (click)="navigateToLogin()">Đăng nhập</button>
            <button class="btn btn-secondary btn-lg m-2" (click)="navigateToRegister()">Đăng ký</button>
          </div>
        </div>
      </div>
      <div *ngIf="isUserLoggedIn()" class="user-welcome">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body text-center">
                  <p class="lead" style="font-size: 23px; line-height: 1.6; margin: 10px 0">
                    "Ai kia <strong>tỉnh thức</strong> cho rồi,<br />
                    Sao còn <strong>ngủ mãi</strong> trôi miền <strong>tử sanh...</strong><br />
                    <strong>Như Lai</strong> tại mỗi <strong>chúng sanh</strong>,<br />
                    Một niệm <strong>Bát Nhã</strong>, sẽ thành <strong>Bất Lai!</strong>"
                  </p>
                </div>
              </div>
              <div class="card mt-3 mb-3" style="width: 60%; margin: 0 auto;">
                <div class="card-body ">
                  <p class="card-text" style="font-size: 15px">Xin chào: {{ userInfo.hoten }}</p>
                  <p class="card-text" style="font-size: 15px">
                    Bạn là:
                    <span [style.color]="userInfo.role === 0 ? 'red' : 'blue'" style="font-size: 15px">
                      {{ userInfo.role === 0 ? 'Quản lý' : 'Nhân viên' }}
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
