<div class="container">
    <h2>Thêm Nhân viên</h2>
    <br />
    <form [formGroup]="staffForm" (ngSubmit)="addStaff()">
      <div class="form-group">
        <label for="lastName">Họ:</label>
        <input type="text" class="form-control" id="lastName" formControlName="lastName" />
        <div *ngIf="submitted && staffForm.get('lastName')?.invalid" class="text-danger">Họ là trường bắt buộc</div>
      </div>
  
      <div class="form-group">
        <label for="firstName">Tên:</label>
        <input type="text" class="form-control" id="firstName" formControlName="firstName" />
        <div *ngIf="submitted && staffForm.get('firstName')?.invalid" class="text-danger">Tên là trường bắt buộc</div>
      </div>
  
      <div class="form-group">
        <label for="dateOfBirth">Ngày Sinh:</label>
        <input type="date" class="form-control" id="dateOfBirth" formControlName="dateOfBirth" />
        <div *ngIf="submitted && staffForm.get('dateOfBirth')?.invalid" class="text-danger">Ngày sinh là trường bắt buộc</div>
      </div>
  
      <div class="form-group">
        <label for="gender">Giới Tính:</label>
        <select class="form-control" id="gender" formControlName="gender">
          <option [ngValue]="true">Nam</option>
          <option [ngValue]="false">Nữ</option>
        </select>
        <div *ngIf="submitted && staffForm.get('gender')?.invalid" class="text-danger">Giới tính là trường bắt buộc</div>
      </div>
  
      <div class="form-group">
        <label for="area">Khu Vực:</label>
        <select class="form-control" id="area" formControlName="area">
          <option [value]="'Bắc'">Bắc</option>
          <option [value]="'Trung'">Trung</option>
          <option [value]="'Nam'">Nam</option>
        </select>
        <div *ngIf="submitted && staffForm.get('area')?.invalid" class="text-danger">Khu vực là trường bắt buộc</div>
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Thêm Nhân viên</button>
    </form>
  </div>
  