<div class="custom-container">
  <div *ngIf="project" class="custom-card">
    <h5 class="custom-title">{{ project.projectName }}</h5>
    <ul class="custom-list">
      <li class="custom-item"><strong>ID:</strong> {{ project.id }}</li>
      <li class="custom-item"><strong>Ngày Bắt Đầu:</strong> {{ project.startDate | date : 'dd/MM/yyyy' }}</li>
      <li class="custom-item"><strong>Ngân sách:</strong> {{ project.budget | currency : 'VND' }}</li>
      <li class="custom-item"><strong>Leader:</strong> {{ leaderName }}</li>
      <li class="custom-item">
        <strong>Thành Viên:</strong>
        <ul class="custom-list">
          <li *ngFor="let memberName of teamMemberNames" class="custom-item">{{ memberName }}</li>
        </ul>
      </li>
    </ul>
  </div>
  <div *ngIf="!project" class="custom-alert">
    <p>Dự án không tồn tại hoặc không được tìm thấy.</p>
  </div>
</div>